{% macro dailyForecastItems() %}
  {# 
    this is a macro so that if both hourly and daily forecasts are table layout, 
    they can share column widths, or be separate containers/tables if mixed 
    layouts or daily header is present
  #}
  {% for d in forecast.daily %}
    {% if loop.index0 < config.maxDailiesToShow %}
      <div class="forecast-item daily">
        <span class="day-name">{{ d.day }}</span>
        <span class="forecast-icon-container">
        {% if d.animatedIconId %}
          <canvas class="skycon-{{ identifier }} forecast-icon" data-animated-icon-name="{{ d.animatedIconName }}" id="{{ d.animatedIconId }}" width="{{ animatedIconSizes.forecast }}" height="{{ animatedIconSizes.forecast }}"></canvas>
        {% else %}
          <img class="forecast-icon" src="{{ d.iconPath }}" />
        {% endif %}
        </span>
        <span class="temperature-container small">
          <span class="high-temperature"{% 
            if config.colored 
          %} 
            {% if config.relativeColors %}
              style="color: {{ d.colorEnd }};"
            {% else %}
              style="color: {{ config.highColor }};"
            {% endif %}
          {% endif %}>{{ d.tempRange.high }}</span>
          {% if config.showDailyHiLowSeparator %}
            <span class="temperature-separator dimmed">{{ config.label_hi_lo_separator }}</span>
          {% endif%}
          {% if config.showDailyLow %}
          <span class="low-temperature"{% 
            if config.colored 
          %} 
            {% if config.relativeColors %}
              style="color: {{ d.colorStart }};"
            {% else %}
              style="color: {{ config.lowColor }};"
            {% endif %}
          {% endif %}>{{ d.tempRange.low }}</span>
          {% endif%}
        </span>

        {% 
          if config.showPrecipitationProbability
            or config.showPrecipitationAmount
        %}
          <span class="precipitation-container">
            {% if d.precipitation.accumulation %}
              {% if (config.showInlineIcons) and config.dailyForecastLayout == "tiled" %}
                {% if d.precipitation.accumulationtype == "rain" %}
                  <img class="inline-icon rain" src="{{ inlineIcons.rain }}" />
                {% endif %}
                {% if d.precipitation.accumulationtype == "snow" %}
                  <img class="inline-icon snow" src="{{ inlineIcons.snow }}" />
                {% endif %}
              {% endif %}
              {% if config.showPrecipitationProbability %}
                <span class="pop">{{ d.precipitation.pop }}</span>
              {% endif %}
              {% if config.showPrecipitationSeparator %}
                <span class="precipitation-separator dimmed">{{ config.label_precip_separator }}</span>
              {% endif%}
              {% if config.showPrecipitationAmount %}
                <span class="pop">{{ d.precipitation.accumulation }}</span>
              {% endif %}
            {% else %}
              {# <img class="inline-icon rain" src="{{ inlineIcons.rain }}" /> #}
              <span class="pop">{{ config.label_no_precip }}</span>
            {% endif %}
          </span>
        {% endif %}

        {% 
          if config.showWindSpeed 
            or config.showWindDirection 
            or config.showWindGust 
        %}
          <span class="wind-container">
            {% if d.wind.windSpeedRaw > 0 %}
              {% if (config.showInlineIcons and config.dailyForecastLayout == "tiled" ) %}
                <img class="inline-icon wind-icon" src="{{ inlineIcons.wind }}" />
              {% endif %}
              {% if config.showWindSpeed %}
                <span class="wind-speed">{{ d.wind.windSpeed }}</span>
              {% endif %}  

              {% if config.showWindDirection %}
                <span class="wind-direction">{{ d.wind.windDirection }}</span>
              {% endif %}  

              {% if d.wind.windGust %}
                <span class="wind-gusts">{{ d.wind.windGust }}</span>
              {% endif %}
            {% else %}
              <span class="wind-speed">{{ config.label_no_wind }}</span>
            {% endif %}
          </span>
        {% endif %}

      </div>
    {% endif %}
  {% endfor %}

{% endmacro%}

{% if loading %}
  <div class="wrapper loading">
    <div class="dimmed light small">{{ phrases.loading | safe }}</div>
  </div>

{% else %}

  {% if config.showCurrentConditions or config.showExtraCurrentConditions or config.showSummary %}
    <div class="wrapper{% if config.colored %} colored{% endif %}{% if config.showInlineIcons %} inline-icons{% endif %}">
        
      {# -------------- Current Conditions -------------- #}
      {% if config.showCurrentConditions %}
        <div class="current-conditions-wrapper icon-set-{{ config.iconset }}">
          <span class="current-conditions-wrapper">
            {% if forecast.currently.animatedIconId %}
              <canvas class="skycon-{{ identifier }} current icon current" id="{{ forecast.currently.animatedIconId }}" data-animated-icon-name="{{ forecast.currently.animatedIconName }}" width="{{ animatedIconSizes.main }}" height="{{ animatedIconSizes.main }}"></canvas>
            {% else %}
              <img class="current icon current" src="{{ forecast.currently.iconPath }}" />
            {% endif %}
            <span class="current temperature bright large light">{{ forecast.currently.temperature }}</span>
            {% if config.showFeelsLike %}
              <span class="current feelslike dimmed light">{{ forecast.currently.feelslike }}</span>
            {% endif %}
          </span>
        </div>
      {% endif %}

      {# -------------- Extra Current Conditions -------------- #}
      {% if config.showExtraCurrentConditions %}
        <div class="extra-current-conditions-wrapper small bright">
          <span class="temperature-container">
            <span class="high-temperature"{% 
              if config.colored 
            %} 
              style="color: {{ config.highColor }};"
            {% endif %}>{{ forecast.currently.tempRange.high }}</span>
            <span class="temperature-separator dimmed">/</span>
            <span class="low-temperature"{% 
              if config.colored 
            %} 
              style="color: {{ config.lowColor }};"
            {% endif %}>{{ forecast.currently.tempRange.low }}</span>
          </span>

          {% if config.showPrecipitationAmount and forecast.currently.precipitation.accumulation %}
            <span class="precipitation-container">
              {% if (config.showInlineIcons) %}
                {% if forecast.currently.precipitation.accumulationtype == "rain" %}
                  <img class="inline-icon rain" src="{{ inlineIcons.rain }}" />
                {% endif %}
                {% if forecast.currently.precipitation.accumulationtype == "snow" %}
                  <img class="inline-icon snow" src="{{ inlineIcons.snow }}" />
                {% endif %}
              {% endif %}
              <span class="pop">{{ forecast.currently.precipitation.accumulation }}</span>
            </span>
          {% endif %}

          {% 
            if config.showWindSpeed
              or config.showWindDirection
              or config.showWindGust
          %}
            <span class="wind-container">
              {% if (config.showInlineIcons) %}
                <img class="inline-icon wind-icon" src="{{ inlineIcons.wind }}" />
              {% endif %}

              {% if config.showWindSpeed %}
                <span class="wind-speed">{{ forecast.currently.wind.windSpeed }}</span>
              {% endif %}

              {% if config.showWindDirection %}
                <span class="wind-direction">{{ forecast.currently.wind.windDirection }}</span>
              {% endif %}

              {% if forecast.currently.wind.windGust and config.showWindGust %}
                <span class="wind-gusts">{{ forecast.currently.wind.windGust }}</span>
              {% endif %}
            </span>
          {% endif %}


        </div>
      {% endif %}

      {# -------------- Summary -------------- #}
      {% if config.showSummary %}
        <div class="summary-wrapper small">
          <div class="summary">{{ forecast.summary }}</div>
        </div>
      {% endif %}
      
    </div>
  {% endif %}

  {% if config.showHourlyForecast %}

    <div class="wrapper {{ config.hourlyForecastLayout }} {% if config.colored %} colored{% endif %}{% if config.showInlineIcons %} inline-icons{% endif %}{% if config.hourlyForecastHeaderText %} with-forecast-header{% endif %}">

      {# -------------- Forecast Title -------------- #}
      {% if (config.hourlyForecastHeaderText != "") and (config.showHourlyForecast) %}
        <header class="module-header forecast-header">{{ config.hourlyForecastHeaderText | safe }}</header>
      {% endif %}

      {# -------------- Table & Tiled Hourly Forecast -------------- #}
      {% 
        if config.showHourlyForecast 
          and (config.hourlyForecastLayout == "table" or config.hourlyForecastLayout == "tiled")
      %}
        <div class="forecast-container icon-set-{{ config.iconset }}">

          {% 
            if config.showForecastTableColumnHeaderIcons 
            and config.hourlyForecastLayout == "table"
          %}
            <div class="header-row">
              <span class="date-time-header">&nbsp;</span>
              <span class="weather-icon-header">&nbsp;</span>
              <span class="temperature-header">&nbsp;</span>

              {% 
                if config.showPrecipitationProbability
                  or config.showPrecipitationAmount
              %}
                <span class="precipitation-header">
                  <img class="inline-icon rain" src="{{ inlineIcons.rain }}" />
                </span>
              {% endif %}

              {% 
                if config.showWindSpeed
                  or config.showWindDirection
                  or config.showWindGust
              %}
                <span class="wind-header">
                  <img class="inline-icon wind" src="{{ inlineIcons.wind }}" />
                </span>
              {% endif %}
            </div>

          {% endif %}

          {# Hourly #}
          {% for h in forecast.hourly %}
            {% if loop.index0 < config.maxHourliesToShow %}
              <div class="forecast-item hourly">
                <span class="time">{{ h.time }}</span>
                <span class="forecast-icon-container">
                {% if h.animatedIconId %}
                  <canvas class="skycon-{{ identifier }} forecast-icon" data-animated-icon-name="{{ h.animatedIconName }}" id="{{ h.animatedIconId }}" width="{{ animatedIconSizes.forecast }}" height="{{ animatedIconSizes.forecast }}"></canvas>
                {% else %}
                  <img class="forecast-icon" src="{{ h.iconPath }}" />
                {% endif %}
                </span>
                <span class="temperature small">{{ h.temperature }}</span>

                {% 
                  if config.showPrecipitationProbability
                    or config.showPrecipitationAmount
                %}
                  <span class="precipitation-container">
                    {% if h.precipitation.accumulation %}
                      {% if (config.showInlineIcons) and config.hourlyForecastLayout == "tiled" %}
                        {% if h.precipitation.accumulationtype == "rain" %}
                          <img class="inline-icon rain" src="{{ inlineIcons.rain }}" />
                        {% endif %}
                        {% if h.precipitation.accumulationtype == "snow" %}
                          <img class="inline-icon snow" src="{{ inlineIcons.snow }}" />
                        {% endif %}
                      {% endif %}
                      {% if config.showPrecipitationProbability %}
                        <span class="pop">{{ h.precipitation.pop }}</span>
                      {% endif %}
                      {% if config.showPrecipitationSeparator %}
                        <span class="separator">{{ config.label_precip_separator }}</span>
                      {% endif %}
                      {% if config.showPrecipitationAmount %}
                        <span class="amount">{{ h.precipitation.accumulation }}</span>
                      {% endif %}
                    {% else %}
                      {# <img class="inline-icon rain" src="{{ inlineIcons.rain }}" /> #}
                      <span class="pop">{{ config.label_no_precip }}</span>
                    {% endif %}
                  </span>
                {% endif %}

                {% 
                  if config.showWindSpeed
                    or config.showWindDirection
                    or config.showWindGust
                %}
                  <span class="wind-container">
                    {% if h.wind.windSpeedRaw > 0 %}
                      {% if (config.showInlineIcons and config.hourlyForecastLayout == "tiled" ) %}
                        <img class="inline-icon wind-icon" src="{{ inlineIcons.wind }}" />
                      {% endif %}

                      {% if config.showWindSpeed %}
                        <span class="wind-speed">{{ h.wind.windSpeed }}</span>
                      {% endif %}

                      {% if config.showWindDirection %}
                        <span class="wind-direction">{{ h.wind.windDirection }}</span>
                      {% endif %}

                      {% if h.wind.windGust and config.showWindGust%}
                        <span class="wind-gusts">{{ h.wind.windGust }}</span>
                      {% endif %}
                    {% else %}
                      <span class="wind-speed">{{ config.label_no_wind }}</span>
                    {% endif %}
                  </span>
                {% endif %}

              </div>
            {% endif %}
          {% endfor %}

          {# Daily — join with this table if both hourly and daily are table layout #}
          {% 
            if config.showDailyForecast 
              and config.hourlyForecastLayout == "table"
              and config.dailyForecastLayout == "table"
              and config.dailyForecastHeaderText == ""
          %}

            {{ dailyForecastItems() }}

          {% endif %}

        </div>
      {% endif %}

    </div>
  {% endif %}

  {% if config.showDailyForecast %}

    <div class="wrapper {{ config.dailyForecastLayout }} {% if config.colored %} colored{% endif %}{% if config.showInlineIcons %} inline-icons{% endif %}{% if config.dailyForecastHeaderText %} with-forecast-header{% endif %}">

      {# -------------- Forecast Title -------------- #}
      {% if (config.dailyForecastHeaderText != "") and (config.showDailyForecast) %}
        <header class="module-header forecast-header">{{ config.dailyForecastHeaderText | safe }}</header>
      {% endif %}

      {# -------------- Table & Tiled Forecasts -------------- #}
      {% 
        if not (
          config.showDailyForecast 
          and config.hourlyForecastLayout == "table"
          and config.dailyForecastLayout == "table"
          and config.dailyForecastHeaderText == ""
        ) 
        and (
          config.dailyForecastLayout == "table" 
          or config.dailyForecastLayout == "tiled"
        )
      %}
        <div class="forecast-container icon-set-{{ config.iconset }}">

          {% 
            if config.showForecastTableColumnHeaderIcons 
            and config.dailyForecastLayout == "table"
          %}
            <div class="header-row">
              <span class="date-time-header">&nbsp;</span>
              <span class="weather-icon-header">&nbsp;</span>
              <span class="temperature-header">&nbsp;</span>

              {% 
                if config.showPrecipitationProbability
                  or config.showPrecipitationAmount
              %}
                <span class="precipitation-header">
                  <img class="inline-icon rain" src="{{ inlineIcons.rain }}" />
                </span>
              {% endif %}

              {% 
                if config.showWindSpeed
                  or config.showWindDirection
                  or config.showWindGust
              %}
                <span class="wind-header">
                  <img class="inline-icon wind" src="{{ inlineIcons.wind }}" />
                </span>
              {% endif %}
            </div>

          {% endif %}

          {# Daily #}
          {{ dailyForecastItems() }}

        </div>
        {# {% endif %} #}

      {% elif config.showDailyForecast and config.dailyForecastLayout == "bars" %}
        {# -------------- bars dailyForecastLayout -------------- #}
        <table class="forecast-bars">
          {% if config.showForecastTableColumnHeaderIcons %}
            <thead>
              <tr class="header-row">
                <th class="date-time-header">&nbsp;</th>
                <th class="weather-icon-header">&nbsp;</th>
                {% 
                  if config.showPrecipitationProbability
                    or config.showPrecipitationAmount
                %}
                  <th class="precipitation-header">
                    <img class="inline-icon rain" src="{{ inlineIcons.rain }}" />
                  </th>
                {% endif %}

                {% 
                  if config.showWindSpeed
                    or config.showWindDirection
                    or config.showWindGust
                %}
                  <th class="wind-header">
                    <img class="inline-icon wind" src="{{ inlineIcons.wind }}" />
                  </th>
                {% endif %}

                <th class="bar-header">&nbsp;</th>
              </tr>
            </thead>
          {% endif %}
          <tbody>
          {% for d in forecast.daily %}
            <tr class="forecast-row">
              <td class="day-name">{{ d.day }}</td>
              <td class="forecast-icon-container">
                {% if d.animatedIconId %}
                  <canvas class="skycon-{{ identifier }} forecast-icon" data-animated-icon-name="{{ d.animatedIconName }}" id="{{ d.animatedIconId }}" width="{{ animatedIconSizes.forecast }}" height="{{ animatedIconSizes.forecast }}"></canvas>
                {% else %}
                  <img class="forecast-icon" src="{{ d.iconPath }}" />
                {% endif %}
              </td>
              {# <td class="forecast-precip-prob">%|!</td> #}
              {% 
                if config.showPrecipitationProbability
                  or config.showPrecipitationAmount
              %}
                <td class="precipitation-container">
                  {% if d.precipitation.accumulation %}
                    {% if config.showPrecipitationProbability %}
                      <span class="pop">{{ d.precipitation.pop }}</span>
                    {% endif %}
                    {% if config.showPrecipitationSeparator %}
                      <span class="precipitation-separator dimmed">{{ config.label_precip_separator }}</span>
                    {% endif%}
                    {% if config.showPrecipitationAmount %}
                      <span class="pop">{{ d.precipitation.accumulation }}</span>
                    {% endif %}
                  {% else %}
                    {# <img class="inline-icon rain" src="{{ inlineIcons.rain }}" /> #}
                    <span class="pop">—</span>
                  {% endif %}
                </td>
              {% endif %}

              {% if config.showWindSpeed or config.showWindDirection or config.showWindGust %}
                <td class="wind-container">
                  {% if config.showWindSpeed %}
                    <span class="wind-speed">{{ d.wind.windSpeed }}</span>
                  {% endif %}  

                  {% if config.showWindDirection %}
                    <span class="wind-direction">{{ d.wind.windDirection }}</span>
                  {% endif %}  

                  {% if d.wind.windGust %}
                    <span class="wind-gusts">{{ d.wind.windGust }}</span>
                  {% endif %}
                </td>
              {% endif %}

              <td>
                <div class="forecast-bar">
                  <span style="width: {{ d.bars.leftSpacerWidth }}%;"></span>
                  <span class="temp min-temp"{% 
                    if config.colored 
                  %} 
                    {% if config.relativeColors %}
                      style="color: {{ d.colorStart }};"
                    {% else %}
                     style="color: {{ config.lowColor }};"
                    {% endif %}
                  {% endif %}>{{ d.tempRange.low }}</span>
                  <span class="bar" style="width: {{ d.bars.barWidth }}%;{% if config.colored %}background: padding-box linear-gradient(90deg, {{ d.colorStart }} 0%, {{ d.colorEnd }} 100%);{% endif %}">&nbsp;</span>
                  <span class="temp max-temp"{% 
                    if config.colored 
                  %} 
                    {% if config.relativeColors %}
                      style="color: {{ d.colorEnd }};"
                    {% else %}
                      style="color: {{ config.highColor }};"
                    {% endif %}
                  {% endif %}>{{ d.tempRange.high }}</span>
                  <span style="width: {{ d.bars.rightSpacerWidth }}%;"></span>
                </div>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% endif %}
      
    </div>
  {% endif %}

  <div class="meta-timestamp" id="{{ moduleTimestampIdPrefix + identifier }}" data-timestamp="{{ timeStamp }}"></div>

  {% if config.showAttribution %}
    <div class="attribution small dimmed">Powered by AccuWeather</div>
  {% endif %}
{% endif %}


